.Rproj.user
.Rhistory
.RData
.Ruserdata

/streamlined/data/*
/streamlined/out_ms/*
/streamlined/out/*

/paper/macrosheds_application/ms_flux_12162022/hbef/true/*
/paper/macrosheds_application/ms_flux_12162022/
/paper/macrosheds_application/ms_with_flux.zip

out
data

!/data/general
data/
streamlined/out/
vault/
